version: "3.9"

networks:
  webnet:
    driver: bridge

services:
  node1:
    image: net-760-node1:latest
    container_name: node1
    restart: always
    networks: [webnet]
    ports:
      - "3000:3000"
    volumes:
      - ./sites/site1:/usr/src/app:ro

  node2:
    image: net-760-node2:latest
    container_name: node2
    restart: always
    networks: [webnet]
    ports:
      - "4000:4000"
    volumes:
      - ./sites/site2:/usr/src/app:ro

  pod-760:
    image: net-760-llm:latest
    container_name: pod-760
    restart: always
    networks: [webnet]
    ports:
      - "5000:5000"
    working_dir: /backend
    command: ["node", "server.js"]
    volumes:
      - ./backend:/backend
      - ./models:/llama.cpp/models:ro
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]


  misc-nginx:
    image: net-760-nginx:latest
    container_name: misc-nginx
    restart: always
    networks: [webnet]
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

