version: "3.9"
services:
  llm:
    build: ./backend
    container_name: pod-760
    networks:
      - webnet
    volumes:
      - ./backend:/app
      - ./models:/llama.cpp/models
    command: ["node", "server.js"]

  node2:
    image: node:18
    container_name: node2
    networks:
      - webnet
    volumes:
      - ./sites/site2:/usr/src/app:ro
    command: bash -c "npm install -g http-server && http-server /usr/src/app -p 4000"
    expose:
      - "4000"

  nginx:
    image: nginx:stable
    container_name: misc-nginx
    networks:
      - webnet
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

networks:
  webnet:
    driver: bridge

